# Ignore .env files
.env


# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore virtual environment directories
venv/
env/

scrappy.py
Ethereum_api.py
eth_scrappy.py
Crop.py
streamlit.ipynb